* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--light-color);
    color: var(--dark-color);
}

.header ul {
    display: flex;
    list-style: none;
}

.header ul li {
    padding: 5px;
}

.container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.movie-wrapper {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.movie {
    width: 300px;
    background-color: var(--brand-color);
}

.movie.swipe {
    position: absolute;
}

.grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

.button {
    background-color: var(--brand-color);
    color: var(--light-color);
    padding: 10px 15px;
    outline: none;
    border: none;
    margin-top: 15px;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
}